.categories-section {
  text-align: center;
  padding: 60px 20px;
}

.main-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.sub-heading {
  font-size: 15px;
  color: #666;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  width: 90%;
  margin: auto;
}

.category-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  border-left: 6px solid transparent;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.07);
  transition: 0.3s ease-in-out;

  /* Gradient border */
  border-image: linear-gradient(180deg, #5b21b6, #2563eb) 1;
}

.category-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 45px;
  margin-bottom: 10px;
}

.openings {
  font-size: 14px;
  color: #555;
  margin: 8px 0 15px;
}

.explore-btn {
  display: inline-block;
  padding: 8px 18px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.explore-btn:hover {
  background: #1e40af;
}